 <%- layout('layouts/signInUp.ejs') %>

<div class="banner">
	<video autoplay muted loop>
		<source src="img/home-video.mp4">
	</video>
	<div class="content">
	  	<div class="loginbox">
	  		<img src="img/logo.png" class="logo" />
	  		<h1>PINTALO.IO</h1>
	  		<form action="/forgot-password" method="POST" onsubmit="" id="formulario">
		  		<p>Email</p>
		  		<input type="email" name="email" placeholder="Introduce tu email" required>
		  		<input type="submit" value="Enviar">
		  	</form>
  	 		<% if(errorMessage) { %>
  					<%- errorMessage %>	
  			<% } %>

  	 		<% if(successMessage) { %>
  					<%- successMessage %>	
  			<% } %>
	  	</div>
	</div>
</div>
<script type="text/javascript" src="/js/validationsSignUp.js"></script>