<!DOCTYPE html>
<html>
<head>

	<%- include('layouts/headerTag.ejs') %>
 	<link rel="stylesheet" type="text/css" href="css/manual.css">
  	<style>.profiles, .homes, .logouts, .administration-panel{ color: #fff; } .manuals{color: #D40D12;} .manuals span{margin: auto; width: 100%; border-bottom: 3px solid #D40D12;padding-bottom: 15px;}</style>
  	
</head>
<body>
 	<header>
 		<%- include('layouts/header.ejs') %>
 	</header>
 
	 <main>
	 	<div class="content">
		 	<div class="manual">
		 		<div class="div1">
			 		<h3>¿QUE ES PINTALO.IO?</h3>
			 		<p>Pintalo.io es un juego masivo multijugador en línea donde tendrás que enfrentarte a otros jugadores para poder hacerte con la victoria.</p>
			 	</div>
			 	<div class="div2">
				 	<h3>OBJETIVO DEL JUEGO</h3>
				 	<p>El objetivo del juego es intentar adivinar la palabra que esta escondida o en el caso de que seas pintor, intentar dibujarla lo mejor posible para que los jugadores de la sala puedan acertarla, en un caso u otro te llevarás puntos por ello.</p>
			 	</div>
			 	<div class="div3">
				 	<h3>HOME</h3>
				 	<p>En esta sección podrás buscar partida y jugar contra otros jugadores, ¿A qué esperas?</p>
			 	</div>
			 	<div class="div4">
				 	<h3>PERFIL</h3>
				 	<p>Podrás configurar tu perfil, tanto como tu foto, usuario, contraseña y email</p>
			 	</div>
			 </div>
		</div>
	 	
	 	
	</main>

 	<footer>
 		<%- include('layouts/footer.ejs') %>
 	</footer>

</body>
</html>