 <%- layout('layouts/signInUp.ejs') %>

<div class="banner">
	<video autoplay muted loop>
		<source src="/img/home-video.mp4">
	</video>
	<div class="content">
	  	<div class="loginbox">
	  		<img src="/img/logo.png" class="logo" />
	  		<h1>PINTALO.IO</h1>
	  		<form action="/reset-password/<%= token %>" method="POST" onsubmit="return validateResetPassword()" id="formulario">
		  		<p>Contrase単a</p>
		  		<input type="password" name="password" id="password" placeholder="Introduce tu contrase単a" required>
		  		<div class="message" id="passwordValidate"></div>
		  		<input type="password" id="password2" name="password2" placeholder="Repite tu contrase単a" required>
		  		<div class="message" id="comparePasswordValidate"></div>
		  		<input type="submit" value="Actualizar Contrase単a">
		  	</form>
  	 		<% if(errorMessage) { %>
  					<%- errorMessage %>	
  			<% } %>

  	 		<% if(successMessage) { %>
  					<%- successMessage %>	
  			<% } %>
	  	</div>
	</div>
</div>
<script type="text/javascript" src="/js/validationsSignUp.js"></script>