footer {
	bottom: 0px;
	color: #f5f5f5;
	font-size: 12px;
	position: absolute;
	width: 100%;
    align-items: center;
    background-color: #111111;
    display: flex;
    height: 35px;
    justify-content: center;

}

footer div a{
	color: #f5f5f5;
	
}